:root {
    font-size: 13px;
}
p{
    font-size: 11px;
}

#home {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 200px 200px;
    gap: 10px;
}

#legend-move1,
#legend-move2,
#legend-move3,
#legend-move4,
#legend-move5,
#legend-move6 {
    font-size: 13px;
}