@font-face {
    font-family: "Raleway";
    src: url("Raleway/Raleway-VariableFont_wght.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Raleway";
    src: url("Raleway/static/Raleway-Bold.ttf");
    font-style: normal;
    font-weight: bold;
}

:root {
    font-size: 10px;
    font-family: Raleway;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 1.3rem;
}

h4 {
    font-size: 1.2rem;
}

/* header with grid */

.icon {
    grid-area: item;
    height: 100%;
    padding: 10px;
}

#sign-in {
    grid-area: name;
    color: rgb(41, 103, 243);
    text-align: right;
    line-height: 70px;
    font-weight: 800;
    padding-right: 10px;
}

#house {
    grid-area: p1;
    text-align: center;
    line-height: 50px;
    color: rgb(41, 103, 243);
    border-bottom: 2px solid rgb(41, 103, 243);
}
#move {
    grid-area: p2;
    text-align: center;
    line-height: 50px;
    color: rgb(64, 64, 64);
    border-bottom: 2px solid rgb(242, 242, 242);
}
nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 70px 40px;
    grid-template-areas:
        "item name"
        "p1 p2";
}

/* main with grid */

.title {
    grid-area: header;
    padding: 0 10px;
    gap: 10px;
}
.form1 {
    grid-area: form;
    padding: 0 10px;
    gap: 10px;
}
.best {
    grid-area: article;
}
#home {
    grid-area: section1;
}
#activities {
    grid-area: section2;
}

main {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas:
        "header"
        "form"
        "article"
        "section1"
        "section2";
    gap: 20px;
}

/* title and p */
h1 {
    display: inline-block;
    padding-top: 10px;
    font-weight: 800;
}

main > header > p {
    display: inline-block;
}

/* form */

/* search */
.search {
    display: flex;
}

#search-label {
    display: flex;
    width: 100%;
    border: solid thin rgb(242, 242, 242);
    border-right: none;
    border-left: none;
}
.search > label > i {
    display: flex;
    border: transparent;
    border-radius: 10px 0 0 10px;
    background-color: rgb(242, 242, 242);
    padding: 10px;
    line-height: 10px;
}
#text-search {
    display: none;
    padding: 0 10px;
}
#filters {
    padding: 0 10px;
}
button {
    display: flex;
    color: white;
    background-color: rgb(41, 103, 243);
    border-radius: 10px;
    border: transparent;
    padding: 10px;
    line-height: 10px;
}

/* filters */
.filter {
    margin-bottom: 10px;
    padding-top: 10px;
    font-weight: bold;
}

.filter > p {
    font-size: 12px;
    padding-bottom: 5px;
}

label > input {
    display: none;
}

#search-label {
    padding: 0 10px;
}

.filter > label:hover {
    background: rgb(224, 235, 253);
    transition: 0.3s;
}

.filter > label > i {
    border: transparent;
    border-radius: 20px;
    width: 30px;
    height: 30px;
    margin: -2px;
    line-height: 30px;
    text-align: center;
    background: rgb(224, 235, 253);
    color: rgb(41, 103, 243);
}

/* buttons filters */
#economic,
#family,
#romantic,
#pets {
    display: inline-block;
    border: 2px solid rgb(212, 212, 212);
    border-radius: 40px;
    align-items: center;
    height: 30px;
    margin: 0 10px 10px 0;
}

/* info */
#msg-info {
    display: inline-block;
}
#msg-info > i {
    color: rgb(12, 86, 243);
    border: solid thin rgb(229, 229, 229);
    border-radius: 10px;
    width: 20px;
    height: 20px;
    text-align: center;
    padding: 3px;
    margin-right: 5px;
}

/* best */
.best {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto repeat(3, 130px);
    grid-template-areas:
        "title-best"
        "best1"
        "best2"
        "best3";
    gap: 10px;
    background-color: rgb(242, 242, 242);
    padding: 0 10px;
}
.title-best {
    grid-area: title-best;
    display: flex;
    flex-direction: row;
    font-weight: bold;
    justify-content: space-between;
    padding: 10px 0;
}
#icon-best {
    font-size: 15px;
}

.best1 {
    grid-area: best1;
}
.best2 {
    grid-area: best2;
}
.best3 {
    grid-area: best3;
}

.best1 figure,
.best2 figure,
.best3 figure {
    display: flex;
    flex-direction: row;
    height: 100%;
    box-shadow: 0 5px 10px grey;
    border-radius: 20px;
    background-color: white;
}

.img-best1,
.img-best2,
.img-best3 {
    max-width: 100%;
    width: 33%;
    height: 100%;
    object-fit: cover;
    padding: 4px;
    border-radius: 20px 0 0 20px;
}

#legend-best1,
#legend-best2,
#legend-best3 {
    position: relative;
    padding: 10px;
    width: 67%;
    color: black;
    font-size: 12px;
}

/* stars and prices */
.stars {
    position: absolute;
    bottom: 5px;
    color: rgb(41, 103, 243);
}
#empty-stars {
    color: rgb(217, 217, 217);
}
#prices {
    font-weight: bold;
}

/* home */
#home {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto repeat(6, 240px);
    grid-template-areas:
        "title-home"
        "home1"
        "home2"
        "home3"
        "home4"
        "home5"
        "home6";
    gap: 10px;
    padding: 0 10px;
}
.title-home {
    grid-area: title-home;
    display: inline-block;
}
.home1 figure,
.home2 figure,
.home3 figure,
.home4 figure,
.home5 figure,
.home6 figure {
    box-shadow: 0 5px 10px grey;
    border-radius: 20px;
    height: 100%;
    padding: 5px;
}
.home1 {
    grid-area: home1;
}
.home2 {
    grid-area: home2;
}
.home3 {
    grid-area: home3;
}
.home4 {
    grid-area: home4;
}
.home5 {
    grid-area: home5;
}
.home6 {
    grid-area: home6;
}

.home1-img,
.home2-img,
.home3-img,
.home4-img,
.home5-img,
.home6-img {
    max-width: 100%;
    width: 100%;
    height: calc(100% - 80px);
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

#legend-home1,
#legend-home2,
#legend-home3,
#legend-home4,
#legend-home5,
#legend-home6 {
    height: 80px;
    padding: 10px;
    color: black;
    font-size: 12px;
}
#stars {
    color: rgb(41, 103, 243);
}
#stars em {
    color: rgb(217, 217, 217);
}

.more {
    color: black;
    font-weight: bold;
    padding: 10px;
}

/* activities */
#activities {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto repeat(6, 190px);
    grid-template-areas:
        "title-move"
        "move1"
        "move2"
        "move3"
        "move4"
        "move5"
        "move6";
    gap: 30px;
    padding: 10px;
}
.title-move {
    grid-area: title-move;
    display: inline-block;
}
.move1 figure,
.move2 figure,
.move3 figure,
.move4 figure,
.move5 figure,
.move6 figure {
    box-shadow: 0 5px 10px grey;
    border-radius: 20px;
    height: 100%;
}
.move1 {
    grid-area: move1;
}
.move2 {
    grid-area: move2;
}
.move3 {
    grid-area: move3;
}
.move4 {
    grid-area: move4;
}
.move5 {
    grid-area: move5;
}
.move6 {
    grid-area: move6;
}

.move1-img,
.move3-img,
.move4-img,
.move5-img,
.move6-img {
    max-width: 100%;
    width: 100%;
    height: calc(100% - 50px);
    object-fit: cover;
    object-position: 100% 20%;
    border-radius: 20px 20px 0px 0px;
}
.move2-img {
    max-width: 100%;
    width: 100%;
    height: calc(100% - 50px);
    object-fit: cover;
    object-position: 100% 42%;
    border-radius: 20px 20px 0px 0px;
}

#legend-move1,
#legend-move2,
#legend-move3,
#legend-move4,
#legend-move5,
#legend-move6 {
    height: 50px;
    line-height: 50px;
    padding: 0 10px;
    color: black;
    font-weight: bold;
    font-size: 13px;
}

/* footer */
footer {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 30px 80px 30px 60px 30px 50px;
    padding: 10px;
    background-color: rgb(242, 242, 242);
}
footer > ul > li > a {
    color: black;
    font-size: 12px;
}
